/* You can add global styles to this file, and also import other style files */
@font-face {
   font-family: Zombie;
   src: url("../public/fonts/Zombie.ttf");
 }
 @font-face {
   font-family: Alibaba;
   src: url("../public/fonts/Alibaba.ttf");
 }
 @font-face {
   font-family: Tusj;
   src: url("../public/fonts/Tusj.ttf");
 }